
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <span>
                  <a class="navbar-left" href="#page-top"><img class="logo" src="/img/logo.png"/></a>
                  &nbsp;
                  <a class="navbar-brand page-scroll" style="text-indent: 1.5em;" href="#page-top">{{demoName}}</a>
                </span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#main">{{demoAction}}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <!-- <h1 id="homeHeading">{{demoAction}}</h1> -->
                <!-- <hr> -->
                <p>
                  {{demoNarrative}}
                </p>
                <a href="#main" class="btn btn-primary btn-xl page-scroll">Los geht's</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{{demoName}}</h2>
                    <hr class="light">
                    <!--
                    <p class="text-faded">Please embed main app here (or open popup)</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Additional infos on services</a>
                    -->
                    <div class="row">
                      <div class="col-md-12 text-left">
                      {{> chatbot}}
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>




    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Kontakt zum Team</h2>
                    <hr class="primary">
                    <p>Contact the Swiss IBM Cloud &amp; Cognitive Team</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-linkedin-square fa-3x sr-contact"></i>
                    <p><a href="https://www.linkedin.com/in/fgeorg/">Florian Georg</a></p>
                    <p><a href="https://www.linkedin.com/in/maurotibolla/">Mauro Tibolla</a></p>
                    <p><a href="https://www.linkedin.com/in/mark-hofmann-28216937/">Mark Hofmann</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:florian.georg@ch.ibm.com">florian.georg@ch.ibm.com</a></p>
                    <p><a href="mailto:mauro.tibolla@ch.ibm.com">mauro.tibolla@ch.ibm.com</a></p>
                    <p><a href="mailto:hofm@ch.ibm.com">hofm@ch.ibm.com</a></p>
                </div>
            </div>
        </div>
    </section>
